
<div class="msg_box" style="right:290px">
    <div class="msg_head">Risk Chat
        <div class="close">x</div>
    </div>
    <div class="msg_wrap">
        <div class="msg_body" ng-repeat="message in messages | orderBy:'tie':true">
            <div class="msg_a" ng-if="message.self">
                {{message.message}}
            </div>
            <div class="msg_b" ng-if="!message.self">{{message.message}}</div>
            <div class="msg_a">This is from A	</div>
            <div class="msg_b">This is from B, and its amazingly kool nah... i know it even i liked it :)</div>
            <div class="msg_a">Wow, Thats great to hear from you man </div>
            <div class="msg_push"></div>
        </div>
        <div class="msg_footer"><textarea class="msg_input" rows="4"></textarea></div>
    </div>
</div>
