<div ng-controller="ChatController" class="msg_box" style="right:290px">
    <div ng-click="showChatScreen()" class="msg_head">Risk Chat

        <div ng-show="showChat" class="close">x</div>
    </div>
    <div ng-show="showChat" class="msg_wrap">
        <div class="msg_body">
            <div ng-repeat="message in messages"
                 class="{{message.self ? 'msg_a':'msg_b'}} playermessage color-{{message.color}}">{{message.message}}
            </div>

            <div id="bottom" class="msg_push"></div>
        </div>
        <div class="msg_footer"><!--<input ng-model="message" class="msg_input" rows="4"/>-->
            <form>
                <div class="input-group">
                    <input id="newMessage" ng-model="newMessage" type="text" class="form-control">
                        <span class="input-group-btn">
                         <button id="sendMessage" ng-click="addMessage()" class="btn btn-default" type="submit">{{'CHATBOX_SEND'|translate}}</button>
                        </span>
                </div>
            </form>
        </div>

        <!--<button class="btn btn-primary btn-xs">Send</button>-->

    </div>
</div>
