<div ng-controller="ChatController" class="msg_box" style="right:290px">
    <div ng-click="showChatScreen()" class="msg_head">Risk Chat

        <div ng-show="showChat" class="close">x</div>
    </div>
    <div ng-show="showChat" class="msg_wrap">
        <div class="msg_body">
            <div ng-repeat="message in messages | orderBy:'tie':true" class="playermessage color-{{message.color}}"
                 ng-class="{'msg_a': message.self, 'msg_b' : !message.self}">{{message.message}}
            </div>

            <div class="msg_push"></div>
        </div>
        <div class="msg_footer"><!--<input ng-model="message" class="msg_input" rows="4"/>-->
            <form>
                <div class="input-group">
                    <input id="newMessage" ng-model="newMessage" type="text" class="form-control">
                        <span class="input-group-btn">
                         <button ng-click="addMessage()" class="btn btn-default" type="submit">Send</button>
                        </span>
                </div>
            </form>
        </div>

        <!--<button class="btn btn-primary btn-xs">Send</button>-->

    </div>
</div>
