<section class="login-wrapper">
    <section class="register-panel"  ng-class="{'biggerPanel': registerError}">
        <article class="login-custom">
            <h1>{{'REGISTER_PAGE_REGISTER'|translate}}</h1>
            <form ng-show="!registering && !registerSuccess"  ng-submit="register()">
                <div class="login-form-input">
                    <img src="assets/img/loginUserIcon.png">
                  <label> <input ng-model="username" id="username" type="text" autofocus placeholder="username"></label>
                </div>
                <div class="login-form-input">
                    <img src="assets/img/loginLockIcon.png">
                    <label><input ng-model="password" id="password" type="password" placeholder="password"></label>
                </div>
                <div ng-class="{'smallerMargin': registerError}" class="login-form-input">
                    <img src="assets/img/emailIcon.png">
                    <label><input ng-model="email" id="email" type="email" placeholder="email address"></label>
                </div>
                <p ng-if="duplicateUsername" class="errorMessage">{{'REGISTER_PAGE_USR_EXISTS'|translate}}</p>
                <p ng-if="duplicateEmail " class="errorMessage">{{'REGISTER_PAGE_EMAIL_EXISTS'|translate}}</p>

                <input   type="submit" value="{{'REGISTER_PAGE_BTN'|translate}}">
                <p>{{'REGISTER_PAGE_HAVE_ACCT'|translate}} <b><a href="" ng-click="go('/login')">{{'REGISTER_PAGE_PLEASE_LOGIN'|translate}}</a></b></p>
            </form>

            <div ng-if="registering" >
                <p>{{'REGISTER_PAGE_BUSY'|translate}}</p>
            </div>

            <div id="registerSuccess" ng-if="registerSuccess" >
                <br/>
                <p>{{'REGISTER_PAGE_REGISTERED'|translate}} <b><a href="" ng-click="go('/login')">{{'REGISTER_PAGE_LOGIN'|translate}}</a></b> </p>
            </div>
        </article>

        <!--ng-click="go('/game')"<article class="login-social">
            <div id="fb-root"></div>
        </article>-->
    </section>



</section>