<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="blitzrisk" class="no-js lt-ie9 lt-ie8 lt-ie7" ng-controller="HomeController"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="blitzrisk" class="no-js lt-ie9 lt-ie8" ng-controller="HomeController"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="blitzrisk" class="no-js lt-ie9" ng-controller="HomeController"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="blitzrisk" class="no-js" ng-controller="HomeController"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="blitzrisk"  >
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
<div id="view">

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">BlitzRisk</a>
          </div>
          <div>
              <ul class="nav navbar-nav">
                  <li ng-class="{'active': currentPage == '/profile'}"><a id="profileTab" ng-click="go('/profile')" href="">Profile</a></li>
                  <li ng-class="{'active': currentPage == '/overview'}"><a id="overviewTab" ng-click="go('/overview')" href="">Overview</a></li>
              </ul>
              <ul ng-show="!loggedIn" class="nav navbar-nav navbar-right">
                  <li ng-class="{'active': currentPage == '/register'}"><a  href="" ng-click="go('/register')"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li ng-class="{'active': currentPage == '/login'}"><a href="" ng-click="go('/login')"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
              <ul ng-show="loggedIn" class="nav navbar-nav navbar-right">
                  <!--<li><a ng-click="go('/game')" href="" ><span class="glyphicon glyphicon-user"></span> gameboardTest</a></li>-->
                  <li><a ng-click="go('/profile')" href="" ><span class="glyphicon glyphicon-user"></span> {{myUsername}}</a></li>
                  <li><a id="logOut" href="" ng-click="logOut()"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
              </ul>
          </div>
      </div>
  </nav>
    <ng-view>loading...</ng-view>

</div>
  <!-- Bower Components (external libraries) -->
  <script src="app/bower_components/cryptojslib/rollups/sha256.js"></script>
  <script src="app/bower_components/angular/angular.min.js"></script>
  <script src="app/bower_components/angular-route/angular-route.min.js"></script>
  <script src="app/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="app/bower_components/angular-css/angular-css.min.js"></script>
  <script src="app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="app/bower_components/bootstrap/js/modal.js"></script>
  <!-- chat libraries -->
  <script src="assets/libs/sockjs-0.3.4.js"></script>
  <script src="app/bower_components/stomp/stomp.js"></script>
  <script src="assets/libs/lodash.js"></script>

  <!-- Angular javascript -->
  <script src="app/app.js"></script>
  <script src="app/app.router.js"></script>
  <script src="app/components/game/riskmapEvents.js"></script>
  <!-- Angular controllers -->
  <script src="app/components/login/loginController.js"></script>
  <script src="app/components/register/registerController.js"></script>
  <script src="app/components/profile/profileController.js"></script>
  <script src="app/components/game/gameController.js"></script>
  <script src="app/components/gamelobby/gamelobbyController.js"></script>
  <script src="app/components/overview/overviewController.js"></script>
  <script src="app/components/chat/chatController.js"></script>
  <!-- Angular services -->
  <script src="app/components/services/gameService.js"></script>
  <script src="app/components/services/chatService.js"></script>
  <script src="app/components/services/loginService.js"></script>
  <script src="app/components/services/turnService.js"></script>


</body>
</html>
