<section id="overviewContainer" class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">{{'OVERVIEW_FRIENDS'|translate}}</li>
                <li ng-repeat="friend in friends" class="list-group-item">{{friend.name}}</li>
                <li class="list-group-item">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                         <button class="btn btn-default" type="button">{{'OVERVIEW_ADD_FRIEND'|translate}}</button>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <div class="list-group">
                <p class="list-group-item list-group-item-success">{{'OVERVIEW_GAMES'|translate}}</p>

                <div ng-repeat="game in games">
                    <h5 ng-click="selectGame(game.id)" class="list-group-item list-group-item-info gameHeader">{{'OVERVIEW_GAMENO'|translate}}
                        {{game.id}}
                        <span class="badge " ng-if="!game.started">{{'OVERVIEW_WAITING'|translate}}</span>
                        <button ng-click="enterGame(game.id)" ng-if="game.started"
                                class="btn btn-success playButton btn-xs" type="button">{{'OVERVIEW_PLAY'|translate}}
                        </button>
                    </h5>

                    <div ng-if="selectedGameId == game.id" class="list-group-item" ng-repeat="player in game.players">
                        {{player.username}}
                        <span ng-if="player.username != myUsername || player.invitationStatus != 'PENDING'"
                              class="badge">
                            <div ng-if="player.invitationStatus === 'PENDING'">
                                {{'OVERVIEW_PENDING'|translate}}
                            </div>
                            <div ng-if="player.invitationStatus === 'ACCEPTED'">
                                {{'OVERVIEW_ACCEPTED'|translate}}
                            </div>
                        </span>
                        <button ng-click="acceptGame(player.id)"
                                ng-if="player.username == myUsername && player.invitationStatus == 'PENDING'"
                                class="btn btn-primary btn-xs acceptButton" type="button">{{'OVERVIEW_ACCEPT'|translate}}
                        </button>

                    </div>
                    <div ng-show="selectedGameId == game.id" class="input-group">

                        <input ng-model="newUsers[game.id]" type="text" class="form-control newUserTxt">

                        <span class="input-group-btn">
                         <button ng-click="addPlayer(game.id)" class="addPlayerBtn btn btn-default" type="submit">{{'OVERVIEW_ADD_FRIEND'|translate}}
                         </button>

                        <button ng-click="addRandomPlayer(game.id)" class="btn btn-default" type="button">{{'OVERVIEW_ADD_RANDOM'|translate}}
                        </button>


                        </span>

                    </div>

                    <!--   <button ng-click="acceptGame(player.id)" class="btn btn-info btn-xs acceptGameBtns" style="float: right;">
                           Accept
                       </button>-->

                </div>


            </div>

            <button id="createGameBtn" ng-click="createNewGame()" class="btn btn-default btn-md">{{'OVERVIEW_CREATE_GAME'|translate}}
            </button>
        </div>


        <!-- <div class="col-sm-4">
             <ul class="list-group">
                 <li class="list-group-item list-group-item-success">Recently Played</li>
                 <li ng-repeat="friend in recentlyPlayed" class="list-group-item">{{friend.name}}</li>
             </ul>
         </div>-->
    </div>
</section>

