#overviewContainer {
    padding-top: 5em;
}

.playButton {
    float: right;

}

.acceptButton {
    float: right;
}

.acceptFriendBtn {
    float:right;
}

.myFloatRightBtn {
    float: right;
}

.glyphicon-remove {
    right: 4em;
}
.addFriendBtn {
    float:right;
}