<section class="login-wrapper">
    <section class="login-panel">
        <article class="login-custom">
            <form>
                <h1>Login</h1>
                <div class="login-form-input">
                    <img src="assets/img/loginUserIcon.png">
                    <input type="text">
                </div>
                <div class="login-form-input">
                    <img src="assets/img/loginLockIcon.png">
                    <input type="password">
                </div>
                <input type="button" value="login">
            </form>
        </article>

        <!--ng-click="go('/game')"<article class="login-social">
            <div id="fb-root"></div>
        </article>-->
    </section>
    {{test}}
</section>