<section class="login-wrapper">
    <section class="login-panel">
        <article class="login-custom">
            <form ng-submit="login()">
                <h1>Login</h1>
                <div class="login-form-input">
                    <img src="assets/img/loginUserIcon.png">
                  <label> <input ng-model="username" id="username" type="text" ></label>
                </div>
                <div class="login-form-input">
                    <img src="assets/img/loginLockIcon.png">
                    <label><input ng-model="password" id="password" type="password"></label>
                </div>
                <input ng-click="logIn()" type="submit" value="login">
            </form>
        </article>

        <!--ng-click="go('/game')"<article class="login-social">
            <div id="fb-root"></div>
        </article>-->
    </section>

</section>