<section class="login-wrapper">
    <section class="login-panel">
        <article class="login-custom">
            <h1>{{'LOGINPAGE_LOGIN'|translate}}</h1>
            <form ng-show="!busy" ng-submit="login()">

                <div class="login-form-input">
                    <img src="assets/img/loginUserIcon.png">
                  <label> <input autofocus ng-model="username" id="username" type="text" placeholder="username or email" ></label>
                </div>
                <div class="login-form-input">
                    <img src="assets/img/loginLockIcon.png">
                    <label><input ng-model="password" id="password" type="password" placeholder="password"></label>
                </div>
                <p ng-if="loginError" class="errorMessage">{{'LOGINPAGE_WRONGCRED'|translate}}</p>

                <input ng-click="logIn()" type="submit" value="{{'LOGINPAGE_BTN'|translate}}">

                <p>{{'LOGINPAGE_NOACCT'|translate}} <b><a href="" ng-click="go('/register')">{{'LOGINPAGE_REG'|translate}}</a></b></p>

            </form>
            <div ng-if="busy" >
                <p>{{'LOGINPAGE_LOGGING_IN'|translate}}</p>
            </div>
        </article>

        <!--ng-click="go('/game')"<article class="login-social">
            <div id="fb-root"></div>
        </article>-->
    </section>

</section>