<div id="gameBoardWrapper">

    <riskmap id="riskMap">
    </riskmap>
    <div id="chat">
        <div ng-include="'app/components/chat/chatBox.html'"></div>
    </div>
    <div class="popupWrapper" ng-show="reinforcePopupVisible">
        <div id="reinforcePopup" ng-show="reinforcePopupVisible">
            <!--<form name="reinforceForm" ng-submit="submitReinforcment(reinforceForm.slider.$viewValue)">
                <input name="slider" type="range" ng-model="slider" value="{{valueRe}}" step="1" min="0" max="7">
                <input type="submit" value="submit">
            </form>-->
            <form name="reinforceForm" ng-submit="submitReinforcment()">
                <input type="range" ng-model="reinforceValue" value="{{reinforceValue}}" step="1" min="0" max="{{reinforceNumberMax}}">
                <input type="submit" value="submit">
            </form>
        </div>
    </div>
    <div class="popupWrapper" ng-show="movePopupVisible">
        <div id="movePopup" ng-show="movePopupVisible">
            <!--<form name="reinforceForm" ng-submit="submitReinforcment(reinforceForm.slider.$viewValue)">
                <input name="slider" type="range" ng-model="slider" value="{{valueRe}}" step="1" min="0" max="7">
                <input type="submit" value="submit">
            </form>-->
            <form name="moveForm" ng-submit="submitMove()">
                <input type="range" ng-model="moveValue" value="{{moveValue}}" step="1" min="0" max="{{moveForceMax}}">
                <input type="submit" value="submit">
            </form>
        </div>
    </div>
</div>
<div >
    <ul id="playerDiv" class="nav nav-pills">
        <li ng-repeat="player in game.players" id="player{{player.color}}" class="colorTab" ng-class="{'playing': player.color == game.playerTurn}"><a>{{player.username}}</a></li>
    </ul>
</div>